@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ef565d;
  --secondary: #73b9eb;
  --blue: #53acec;
  --grey: #cacaca;
  --tertiary: #071117;
  --link: #2d9cdb;
  --bg-secondary: #f8f9fa;
}

.dark {
  --background: #070b1f;
  --foreground: #ededed;
  --bg-secondary: #12092a;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fustat), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.font-kantumruy {
  font-family: "Kantumruy", var(--font-fustat), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

.force-blue-text,
.force-blue-text * {
  color: var(--blue) !important;
}

button .force-blue-text {
  color: var(--blue) !important;
}

p {
  font-family: var(--font-fustat);
}

.nft-card-wrapper {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
